<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Latest 5 Records</title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Latest 5 Records</h1>
      <ul class="list-group">
        {% for record in data %}
        <li class="list-group-item">
          {% if record.action == 'push' %} 
            {{ record.author }} pushed to <code>{{ record.to_branch }}</code> on {{ record.timestamp | format_timestamp }} 
          {% elif record.action == 'pull_request' %} 
            {{ record.author }} submitted a pull request from <code>{{ record.from_branch }}</code> to <code>{{ record.to_branch }}</code> on {{ record.timestamp | format_timestamp }} 
          {% else %} 
          {{ record.author }} merged branch <code>{{ record.from_branch }}</code> to
          <code>{{ record.to_branch }}</code> on {{ record.timestamp | format_timestamp }} 
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    <script>
      function formatTimestamp(timestamp) {
        const dt = new Date(timestamp);
      
        const options = {
          day: "numeric",
          month: "long",
          year: "numeric",
          hour: "numeric",
          minute: "numeric",
          timeZone: "UTC",
          hour12: true,
        };
      
        return dt.toLocaleString("en-US", options);
      }
    </script>
    <script>
      setInterval(function () {
        $.ajax({
          url: "/every-15-seconds",
          method: "GET",
          success: function (data) {
            var recordsList = $(".list-group");
            recordsList.empty();
            for (var i = 0; i < data.length; i++) {
              var record = data[i];
              var listItem = $("<li>").addClass("list-group-item");
              if (record['action'] == "push") {
                listItem.text(record['author'] + " pushed to " + record['to_branch'] + " on " + formatTimestamp(record['timestamp']));
              } else if (record['action'] == "merge") {
                listItem.text(record['author'] + " merged branch " + record['from_branch'] + " to " + record['to_branch'] + " on " + formatTimestamp(record['timestamp']));
              } else {
                listItem.text(record['author'] + " submitted a pull request from " + record['from_branch'] + " to " + record['to_branch'] + " on " + formatTimestamp(record['timestamp']));
              }
              recordsList.append(listItem);
            }
          },
          error: function (xhr, status, error) {
            console.log("Error:", error);
          },
        });
      }, 15000); // 15 seconds in milliseconds
    </script>
  </body>
</html>
